//variables
//colors
$primaryBlue: #56b6df;
$secondaryBlue: rgb(210, 232, 252);
$orange: #ee6352;
// $yellow: rgb(255, 252, 235);
$yellow: #fff1db;

//fonts
$bodyFont: 'Buda', cursive;
$headingFont: 'The Girl Next Door', cursive;

//breakpoints
$tablet: 768px;
