//variables
//colors
$primaryBlue: #56b6df;
$secondaryBlue: rgb(210, 232, 252);
$orange: #ee6352;
$yellow: #fff1db;

//fonts
@font-face {
  font-family: girlNextDoor;
  src: url(TheGirlNextDoor-Regular.ttf);
}

@font-face {
  font-family: Buda;
  src: url(Buda-Light.ttf);
}
$bodyFont: Buda, sans-serif;
$headingFont: girlNextDoor, serif;

//breakpoints
$tablet: 768px;
