@import 'variables';

.contact {
    background-color: white;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
}

.contact__title {
    color: black;
    font-size: 2em;
    padding-top: 0;
    margin-top: 1em;
}

.contact__notice{
    margin: 1.5em 0;
    padding: 1em;
    background: lighten($primaryBlue, 10%);

    & span {
        color: darken($orange, 10%);
        display: block;
        background: white;
        font-weight: 600;
        padding: .25em;
        margin: .5em 0;
        border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);

    }
}



.container{
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

.brand {
    text-align: center;
    font-family: $headingFont;
    padding: 0;
}

.wrapper {
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    border: 1px solid $primaryBlue;
}

.wrapper > * {
    padding: 1em;
}

.company-info {
    background: $secondaryBlue;
}

.company-info h3, 
.company-info ul {
    text-align: center;
    margin-bottom: 1rem;
}

.link-wrapper {
    font-size: 1.2em;
    padding-top: 1.5em;
}

.form-links{
    margin-bottom: 1.5em;
    font-size: 1.2em;
}

.link-wrapper a{
    text-decoration: none;
    color: black;
}

.form-icon{
    color: $primaryBlue;
    font-size: 2em;
    letter-spacing: 2px;
}

.contact{
    text-align: center;
}

/* form styles */

.contact form label{
    display: block;
    font-weight: 600;
    margin: 1em;
}

.contact form p {
    margin: 0;
}

.contact form input,
.contact form textarea {
    width: 75%;
    padding: 1em;
    text-align: center;
    font-family: $bodyFont;
    font-size: .75em;
    outline-color: none;
    transition: all 2s ease;
}

.contact form input:hover,
.contact form textarea:hover {
    outline-color: $orange;
}

@media screen and (min-width: 1000px){
    .img-rates{
        width: 60%;
    }
}

.heart {
    position: relative;
    height: 110px;
    width: 110px;
    margin: 10px auto;
    background: white;
    border-radius: 50%;
    border: 2px solid darken($orange, 10%);
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);

  }
  
  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 50px;
    background: rgb(184, 63, 63);
    background: darken($orange, 10%);
    border-radius: 50px 50px 0 0;
  }
  
  .heart::before {
    left: 53px;
    top: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  .heart::after {
    left: 4px;
    top: 20px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  