body{
    padding: 0;
    margin: 0;
}

html{
    padding: 0;
}


.btn{
    color: white;
    text-decoration: none;
    outline: none;
    border: none;
}

label{
    margin-bottom: 1em;
    display: block;
    padding: .25em;
    font-size: 1.3rem;
}

input,
textarea{
    margin-bottom: 1em;
    padding: .25em;
    font-size: 1.1rem;
    font-family: --f-body;
    text-align: center;
    transition: all 1s ease;
    font-family: var(--f-body);
}

input:focus,
textarea:focus {
    outline-color: var(--c-orange);
}

form{
    background-color: white;
    text-align: center;
    max-width: 800px;
    margin: 1em auto 3em auto;
    border: 1px solid var(--c-primary);
    border-radius: 5px;
}

.form-wrapper{
    margin: 3em auto;
}

<<<<<<< HEAD
textarea{
    margin-top: 1.3em;
    font-family: var(--f-body);
    font-size: 1.3rem;
}

.btn-block{
    display: block;
    margin: 1em auto;
}
=======
/* textarea{
    margin-top: 1em;
    padding: .25em;
    font-size: 1.2rem;
    font-family: --f-body;
    text-align: center;
} */
>>>>>>> 10dbb0cea65e9d10f69f68403761efbc3f0cc6e4

.banner{
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--c-secondary-blue);
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--c-primary);
}