@import
'variables';

.intake{
    margin: 3em auto;
    background-color: white;
    text-align: center;
    max-width: 900px;
    margin: 1em auto 3em auto;
    border: 1px solid $primaryBlue;
    border-radius: 5px;

    &__banner{
        justify-content: space-evenly;
        align-items: center;
        background-color: $secondaryBlue;
        padding: 1em;
        text-align: center;
        margin-bottom: 1em;
        border-bottom: 1px solid $primaryBlue;
        position: relative;
    }

    & label{
        margin-bottom: 1em;
        display: block;
        padding: .25em;
        font-size: 1.3rem;
        transition: all 1s ease;
    }

    & input,
    & textarea{
    margin-bottom: 1em;
    padding: .25em;
    font-size: 1.1rem;
    text-align: center;
    transition: all 1s ease;
    font-family: $bodyFont;
    width: 80%;
         
        &::placeholder{
            color: transparent;
        }

        &:focus,
        &:focus {
        outline-color: $orange;
        }
    
        @media screen and (min-width: $tablet){
            width: 50%;
        }
    }

    & textarea{
        margin-top: 1.3em;
        font-family: $bodyFont;
        font-size: 1.3rem;
    }

    & .agree{
        width: 90%;
    }
    
    & q,
    & span{
    font-weight: 700;
    color: $orange;
    }
 
}



