body{
    background-image: url("../img/mountain.jpeg");
}
.test-section {
    background-color: white;
    margin: 6em auto;
    box-shadow: 0 0 .2em #00b2e7;
    max-width: 800px;
}

/* .test-subtitle{
    color: white;
} */
.test-symbol {
    max-width: 150px;
    margin: 0.5em;
}
@media only screen and (min-width: 700px){
    .test-section {
        border-radius: 10px;
        width: 70%;
        padding: 1em;
   }
}

@media only screen and (min-width: 600px) and (max-width: 1300px) {
    .test-card {
        width: 500px;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
   }
    .test-img {
        max-width: 150px;
        margin: 0.5em;
   }
}
@media only screen and (min-width: 1300px){
    .test-wrap{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
   }
    .test-card {
        width: 400px;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
   }
}