body{
    background-image: url("../img/testbg.jpeg");
}
.test-section {
    background-color: white;
    margin: 6em auto;
    box-shadow: 0 0 .2em #00b2e7;
    max-width: 800px;
}
.test-symbol {
    max-width: 150px;
    margin: 0.5em;
}
@media only screen and (min-width: 700px){
    .test-section {
        border-radius: 10px;
        width: 70%;
        padding: 1em;
   }
}